/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Open+Sans:wght@400;700&display=swap');

/* variables */
:root{

    /* fonts */
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;

    /* colors */
    --pink: #ff40a6;
    --dark1: #222;
    --dark2: #666;
    --light: #ddd;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    font-family: var(--primary-font);
    font-size: 16px;
}

/* some resets */
.container{
    max-width: 1200px;
}
a{
    text-decoration: none !important;
    outline: none !important;
}
.btn,button,.form-control{
    box-shadow: none !important;
    outline: none !important;
}
ul{list-style: none; margin: 0 !important; padding: 0 !important;}

/* classes i'll required */
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* component styling */
.btn{
    min-width: 120px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid var(--pink);
    font-size: 1rem;
}
.btn.solid{
    background: var(--pink);
    color: var(--white);
}

/* typography */
.heading{
    font-family: var(--secondary-font);
    font-weight: bold;
    color: var(--dark1);
}
.heading .line{
    width: 50px;
    height: 5px;
    background: var(--pink);
    margin: 0.5rem 0;
}

nav .container{
    /* make flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    /* makign flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav .logo img{
    height: 60px;
}
nav .logo .toggle{
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: none;
}
nav .logo .toggle .line{
    width: 100%;
    height: 2px;
    background: var(--dark1);
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 !important;
    transition: 0.5s ease;
}
nav .logo .toggle .line:nth-child(1){
    top: 0;
    left: 0;
}
nav .logo .toggle .line:nth-child(3){
    top: initial !important;
    bottom: 0;
    left: 0;
}
/* toggle active */
nav .logo .toggle.active .line:nth-child(1){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
nav .logo .toggle.active .line:nth-child(2){
    opacity: 0;
    visibility: hidden;
}
nav .logo .toggle.active .line:nth-child(3){
    bottom: initial;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* nav tabs */
nav .nav-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav .nav-tab .nav-link{
    color: var(--dark1);
    
}
nav .nav-tab .nav-link:hover:not(.login){
    border-bottom: 1px solid var(--pink);
}

/* styling hero */
section.hero{
    position: relative;
    padding: 4rem 0;
}
.hero-back{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    max-height: 700px;
}
.hero .hero-heading{
    font-family: var(--secondary-font);
    font-weight: bold;
    line-height: 100%;
    font-size: 50px;
}
.hero .round{
    border: 3px solid var(--pink);
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 10px;
    margin: 1rem 0;
}
.hero .hero-para{
    font-size: 1rem;
    color: var(--dark2);
}
.hero .buttons{
    margin-top: 2rem;
}
.hero .buttons a{
    margin-right: 0.8rem;
}

/* logos */
.logos{
    background: #f6f6f6;
    padding: 30px 0;
}
.logos .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logos img{
    width: 150px;
}

/* trusted by */
.trusted-by{
    padding: 50px 0 100px 0;
}
.trusted-by .heading{
    text-align: center;
}
.trusted-by .heading .line{
    margin: 0.5rem auto;
}
.trusted-by img{
    max-height: 60px;
}
.trusted-by .wrapper{
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
}

/* price chart */
.plans{
    padding: 100px 0;
}
.plans .para{text-align: center;}

.plans .heading{
    text-align: center;
}
.plans .heading .line{
    margin: 0.5rem auto;
}
.plans .row{
    margin-top: 50px;
}
.plans [class*=col-]{
    display: flex;
    align-items: stretch;
}

/* cards */
.plans .card{
    border: none;
    border-radius: 3px;
    background: white;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.plans h3{
    font-family: var(--secondary-font);
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}
.plans .salary{
    color: var(--pink);
    text-align: center;
    margin: 0;
    line-height: 100%;
}
.plans .card .content{
    flex-grow: 1;
    margin-bottom: 1rem;
}
.plans p{
    font-size: 0.9rem;
    color: var(--dark2);
    margin: 2px 0;
}
.plans p b{
    color: var(--dark1);
}

/* how it works */
section.how-works{
    padding: 100px 0;
}
.how-works .heading{
    text-align: center;
}
.how-works .heading .line{
    margin: 0.5rem auto;
}
.how-works .row{
    margin-top: 50px;
}
.how-works [class*=col-]{text-align: center; position: relative;}
.how-works .icon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: rgba(255, 64, 166,0.2);

    display: grid;
    place-content: center;
    position: relative;
    margin: auto;
}
.how-works .icon i{
    font-size: 2rem;
}
.how-works .icon .number{
    width: 1.5rem;
    height: 1.5rem;
    background: var(--dark1);
    color: white;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    display: grid;
    place-content: center;
    z-index: 10;
}
.how-works h5{
    margin-top: 1rem;
}
.how-works .para{
    font-size: 0.9rem;
    color: var(--dark2);
}
.how-works img{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    max-height: 50px;
    z-index: 0;
    opacity: 0.8;
}

/* gallery */
.gallery{
    padding: 100px 0;
    padding-top: 50px;
}
.gallery .heading{
    text-align: center;
}
.gallery .heading .line{
    margin: 0.5rem auto;
}
.gallery .gallery-wrapper{
    margin-top: 50px;
}
.gallery .card{
    margin: 0.5rem;
    border: none;
    border-radius: 0;
}

/* footer */
footer{
    text-align: center;
    background: var(--dark1);
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
}

/* larger devices */
@media (max-width: 1200px){
    /* heading */
    body{
        font-size: 14px;
    }
    .how-works img{
        max-height: 30px !important;
    }
}
/* laptops */
@media (max-width: 992px){

}
/* tablets */
@media (max-width: 768px){
    .container{
        padding: 0 30px;
    }
    .heading{
        font-size: 1.5rem;
    }
    /* navigation */
    nav .logo{
        width: 100% !important;
        position: relative;
        z-index: 1000;
    }
    nav .logo .toggle{
        display: block !important;
    }
    nav .nav-tab{
        position: fixed;
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        background: #fdfdfd;
        z-index: 999;
        transition: top 0.5s ease;
    }
    nav .nav-tab .nav-link{
        margin: 1rem;
        border-bottom: 1px solid transparent;
    }
    nav .nav-tab.active{
        top: 0 !important;
    }
    /* hero */
    section.hero .row{
        flex-direction: column-reverse;
    }
    .hero img{
        width: 70%;
    }
    .hero .hero-heading{
        margin-top: 2rem;
        font-size: 40px !important;
    }
    .hero .hero-para{
        font-size: 0.9rem;
    }
    
    /* trusted by */
    .trusted-by .wrapper{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .trusted-by .wrapper img{
        margin: 1rem;
        width: 30%;
        max-height: initial;
    }

    /* plans */
    .plans .row{
        margin-top: calc(50px - 1rem) !important;
    }
    .plans .card{
        margin: 1rem 0;
    }
    .plans h3{
        font-size: 1.2rem !important;
    }
    /* gallery */
    .gallery{
        padding-top: 0 !important;
    }

    /* how it works */
    .how-works{
        padding: 100px 30px !important;
    }
    .how-works .row{
        margin-top: calc(20px - 1rem) !important;
    }
    .how-works [class*=col-]{
        margin: 1rem 0;
    }
    .how-works img{
        display: none;
    }
    
}
/* mobile */
@media (max-width: 576px){

}